USE [master]
GO
/****** Object:  Database [PhongKhamThuY]    Script Date: 04/06/2026 00:37:21 ******/
CREATE DATABASE [PhongKhamThuY]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PhongKhamThuY', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PhongKhamThuY.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PhongKhamThuY_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PhongKhamThuY_log.ldf' , SIZE = 335872KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PhongKhamThuY].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PhongKhamThuY]
GO
/****** Object:  User [rexi_user]    Script Date: 04/06/2026 00:37:22 ******/
CREATE USER [rexi_user] FOR LOGIN [rexi_user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [rexi_user]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalculatePetAge]    Script Date: 04/06/2026 00:37:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. TÃ¡i táº¡o cÃ¡c Function
CREATE FUNCTION [dbo].[fn_CalculatePetAge] (@NgaySinh DATE)
RETURNS INT
AS
BEGIN
    IF @NgaySinh IS NULL RETURN NULL;
    DECLARE @Today DATE = GETDATE();
    DECLARE @Age INT = DATEDIFF(YEAR, @NgaySinh, @Today);
    IF DATEFROMPARTS(YEAR(@Today), MONTH(@NgaySinh), DAY(@NgaySinh)) > @Today
        SET @Age = @Age - 1;
    RETURN CASE WHEN @Age < 0 THEN 0 ELSE @Age END;
END;

GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetInvoiceTotal]    Script Date: 04/06/2026 00:37:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_GetInvoiceTotal] (@IdHoaDon VARCHAR(20))
RETURNS DECIMAL(12,2)
AS
BEGIN
    DECLARE @Total DECIMAL(12,2);
    SELECT @Total = tong_tien_cuoi FROM dbo.HoaDon WHERE id_hoa_don = @IdHoaDon;
    RETURN ISNULL(@Total, 0);
END;

GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 04/06/2026 00:37:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[id_nhan_vien] [varchar](20) NOT NULL,
	[ho_ten] [nvarchar](100) NULL,
	[ngay_sinh] [date] NULL,
	[gioi_tinh] [nvarchar](10) NULL,
	[dia_chi] [nvarchar](255) NULL,
	[so_dien_thoai] [varchar](255) NULL,
	[email] [nvarchar](100) NULL,
	[so_cccd] [nvarchar](20) NULL,
	[ngay_vao_lam] [date] NOT NULL,
	[ngay_nghi_viec] [date] NULL,
	[trang_thai] [nvarchar](50) NULL,
	[da_xoa] [bit] NOT NULL,
	[chuyen_mon] [nvarchar](255) NULL,
	[gioi_thieu] [nvarchar](max) NULL,
	[hinh_anh] [nvarchar](max) NULL,
	[id_tai_khoan] [varchar](50) NULL,
	[nhan_email] [bit] NULL,
	[nhan_sms] [bit] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[id_nhan_vien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[id_khach_hang] [varchar](20) NOT NULL,
	[ten_khach_hang] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NULL,
	[sdt] [nvarchar](15) NULL,
	[dia_chi] [nvarchar](255) NULL,
	[ngay_tao] [datetime] NOT NULL,
	[ngay_cap_nhat] [datetime] NULL,
	[da_xoa] [bit] NOT NULL,
	[nhan_email] [bit] NULL,
	[nhan_sms] [bit] NULL,
	[hinh_anh] [nvarchar](max) NULL,
	[nam_sinh] [int] NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[id_khach_hang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuCung]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuCung](
	[id_thu_cung] [varchar](20) NOT NULL,
	[ten_thu_cung] [nvarchar](100) NOT NULL,
	[loai] [nvarchar](50) NULL,
	[giong] [nvarchar](100) NULL,
	[ngay_sinh] [date] NULL,
	[gioi_tinh] [nvarchar](10) NULL,
	[mau_sac] [nvarchar](255) NULL,
	[trong_luong] [numeric](38, 2) NULL,
	[id_khach_hang] [varchar](20) NOT NULL,
	[ngay_tao] [datetime] NOT NULL,
	[da_xoa] [bit] NOT NULL,
	[url_anh] [nvarchar](500) NULL,
	[ghi_chu] [nvarchar](max) NULL,
	[hinh_anh] [nvarchar](max) NULL,
	[ngay_cap_nhat] [datetime] NULL,
 CONSTRAINT [PK_ThuCung] PRIMARY KEY CLUSTERED 
(
	[id_thu_cung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichHen]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichHen](
	[id_lich_hen] [varchar](20) NOT NULL,
	[ngay_kham] [date] NOT NULL,
	[gio_kham] [time](7) NOT NULL,
	[ly_do] [nvarchar](255) NULL,
	[trang_thai] [nvarchar](50) NULL,
	[id_khach_hang] [varchar](20) NOT NULL,
	[id_thu_cung] [varchar](20) NOT NULL,
	[id_bac_si] [varchar](20) NOT NULL,
	[id_nguoi_dat] [varchar](20) NULL,
	[phong_kham] [nvarchar](100) NULL,
	[ghi_chu_noi_bo] [nvarchar](500) NULL,
	[ngay_tao] [datetime] NOT NULL,
	[id_dich_vu] [varchar](20) NULL,
 CONSTRAINT [PK_LichHen] PRIMARY KEY CLUSTERED 
(
	[id_lich_hen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_LichHenHomNay]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. TÃ¡i táº¡o cÃ¡c View
CREATE VIEW [dbo].[v_LichHenHomNay] AS
SELECT 
    lh.id_lich_hen,
    lh.gio_kham,
    tc.ten_thu_cung,
    kh.ten_khach_hang,
    nv.ho_ten AS ten_bac_si,
    lh.trang_thai,
    lh.phong_kham
FROM dbo.LichHen lh
JOIN dbo.ThuCung tc ON lh.id_thu_cung = tc.id_thu_cung
JOIN dbo.KhachHang kh ON lh.id_khach_hang = kh.id_khach_hang
LEFT JOIN dbo.NhanVien nv ON lh.id_bac_si = nv.id_nhan_vien
WHERE lh.ngay_kham = CAST(GETDATE() AS DATE)
  AND lh.trang_thai <> N'da_huy';

GO
/****** Object:  Table [dbo].[HoSoBenhAn]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoSoBenhAn](
	[id_ho_so_benh_an] [varchar](20) NOT NULL,
	[id_lich_hen] [varchar](20) NOT NULL,
	[ngay_kham] [date] NOT NULL,
	[id_bac_si] [varchar](20) NOT NULL,
	[can_nang] [numeric](38, 2) NULL,
	[nhiet_do] [numeric](38, 2) NULL,
	[huyet_ap] [nvarchar](255) NULL,
	[trieu_chung] [nvarchar](max) NULL,
	[ket_qua_tham_kham] [nvarchar](max) NULL,
	[chan_doan] [nvarchar](max) NULL,
	[phac_do_dieu_tri] [nvarchar](max) NULL,
	[huong_dan_cham_soc] [nvarchar](max) NULL,
	[ngay_tai_kham_de_xuat] [date] NULL,
	[trang_thai_ho_so] [nvarchar](50) NULL,
	[id_nguoi_tao] [varchar](20) NOT NULL,
	[ngay_tao] [datetime] NOT NULL,
	[nguoi_cap_nhat_gan_nhat] [varchar](20) NULL,
	[ngay_cap_nhat_gan_nhat] [datetime] NULL,
	[id_thu_cung] [varchar](20) NULL,
 CONSTRAINT [PK_HoSoBenhAn] PRIMARY KEY CLUSTERED 
(
	[id_ho_so_benh_an] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_HoSoBenhAn_GanDay]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_HoSoBenhAn_GanDay] AS
SELECT 
    h.id_ho_so_benh_an,
    h.ngay_kham,
    nv.ho_ten AS ten_bac_si,
    kh.ten_khach_hang,
    tc.ten_thu_cung,
    h.chan_doan,
    h.trang_thai_ho_so
FROM dbo.HoSoBenhAn h
LEFT JOIN dbo.NhanVien nv ON h.id_bac_si = nv.id_nhan_vien
LEFT JOIN dbo.LichHen lh ON h.id_lich_hen = lh.id_lich_hen
LEFT JOIN dbo.KhachHang kh ON lh.id_khach_hang = kh.id_khach_hang
LEFT JOIN dbo.ThuCung tc ON lh.id_thu_cung = tc.id_thu_cung
WHERE h.ngay_kham >= DATEADD(DAY, -30, GETDATE());

GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[id_hoa_don] [varchar](20) NOT NULL,
	[id_lich_hen] [varchar](20) NOT NULL,
	[id_khach_hang] [varchar](20) NOT NULL,
	[tong_tien_truoc_giam_gia] [numeric](38, 2) NULL,
	[tong_tien_giam_gia] [numeric](38, 2) NULL,
	[tong_tien_sau_giam_gia] [numeric](38, 2) NULL,
	[thue_suat] [numeric](38, 2) NULL,
	[thue_phai_nop] [numeric](38, 2) NULL,
	[tong_tien_cuoi] [numeric](38, 2) NULL,
	[ngay_lap] [datetime] NOT NULL,
	[id_nhan_vien] [varchar](20) NOT NULL,
	[trang_thai] [nvarchar](50) NULL,
	[ghi_chu] [nvarchar](500) NULL,
	[trang_thai_thanh_toan] [nvarchar](50) NULL,
	[ngay_lap_hoa_don] [datetime] NULL,
	[tong_tien_ban_dau] [numeric](38, 2) NULL,
	[tong_giam_gia] [numeric](38, 2) NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[id_hoa_don] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_DoanhThu_TheoThang]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_DoanhThu_TheoThang] AS
SELECT 
    YEAR(ngay_lap) AS Nam,
    MONTH(ngay_lap) AS Thang,
    COUNT(id_hoa_don) AS SoHoaDon,
    SUM(tong_tien_cuoi) AS TongDoanhThu
FROM dbo.HoaDon
WHERE trang_thai = N'da_thanh_toan'
GROUP BY YEAR(ngay_lap), MONTH(ngay_lap);

GO
/****** Object:  View [dbo].[v_ThongKe_BacSi]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_ThongKe_BacSi] AS
                        SELECT 
                            nv.ho_ten AS TenBacSi,
                            COUNT(lh.id_lich_hen) AS SoLichHen,
                            COUNT(DISTINCT lh.id_thu_cung) AS SoHoSo,
                            SUM(ISNULL(hd.tong_tien_cuoi, 0)) AS TongDoanhThu
                        FROM NhanVien nv
                        LEFT JOIN LichHen lh ON nv.id_nhan_vien = lh.id_bac_si
                        LEFT JOIN HoaDon hd ON lh.id_lich_hen = hd.id_lich_hen AND hd.trang_thai = 'da_thanh_toan'
                        WHERE nv.chuyen_mon LIKE N'%Bác sĩ%' OR nv.id_nhan_vien LIKE 'BS-%'
                        GROUP BY nv.ho_ten
GO
/****** Object:  View [dbo].[v_DoanhThuThang]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_DoanhThuThang] AS
SELECT 
    MONTH(ngay_lap) AS Thang, 
    YEAR(ngay_lap) AS Nam, 
    SUM(tong_tien_cuoi) AS TongDoanhThu
FROM HoaDon
WHERE trang_thai_thanh_toan = N'Đã thanh toán'
GROUP BY MONTH(ngay_lap), YEAR(ngay_lap);
GO
/****** Object:  Table [dbo].[Thuoc]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thuoc](
	[id_thuoc] [varchar](20) NOT NULL,
	[ten_thuoc] [nvarchar](100) NOT NULL,
	[thanh_phan] [nvarchar](255) NULL,
	[dang_bao_che] [nvarchar](50) NULL,
	[don_vi] [nvarchar](20) NULL,
	[mo_ta] [nvarchar](500) NULL,
	[gia_ban] [decimal](10, 2) NOT NULL,
	[trang_thai] [bit] NOT NULL,
	[da_xoa] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_thuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoThuoc]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoThuoc](
	[id_lo] [varchar](20) NOT NULL,
	[id_thuoc] [varchar](20) NOT NULL,
	[id_ncc] [varchar](20) NOT NULL,
	[so_lo] [nvarchar](100) NOT NULL,
	[ngay_nhap] [date] NOT NULL,
	[han_su_dung] [date] NOT NULL,
	[gia_nhap] [decimal](18, 2) NOT NULL,
	[so_luong_nhap] [int] NOT NULL,
	[so_luong_ton] [int] NOT NULL,
	[ngay_cap_nhat_ton_kho] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_lo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_ThuocSapHetHan]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_ThuocSapHetHan] AS
                        SELECT 
                            t.ten_thuoc, 
                            lt.so_lo, 
                            lt.so_luong_ton,
                            lt.han_su_dung AS han_dung,
                            DATEDIFF(day, GETDATE(), lt.han_su_dung) AS so_ngay_con_lai
                        FROM LoThuoc lt
                        JOIN Thuoc t ON lt.id_thuoc = t.id_thuoc
                        WHERE lt.han_su_dung <= DATEADD(day, 60, GETDATE()) AND lt.so_luong_ton > 0;
GO
/****** Object:  Table [dbo].[BenhAn_XetNghiem]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BenhAn_XetNghiem](
	[id_xet_nghiem_benh_an] [int] IDENTITY(1,1) NOT NULL,
	[id_ho_so] [varchar](20) NULL,
	[id_loai_xet_nghiem] [varchar](20) NULL,
	[ngay_lay_mau] [datetime] NOT NULL,
	[id_bac_si] [varchar](20) NOT NULL,
	[trang_thai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_xet_nghiem_benh_an] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CauHinhHeThong]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHinhHeThong](
	[id_cau_hinh] [int] IDENTITY(1,1) NOT NULL,
	[ten_cau_hinh] [varchar](100) NULL,
	[gia_tri] [nvarchar](500) NULL,
	[mo_ta] [nvarchar](500) NULL,
	[id_nhan_vien_cap_nhat] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cau_hinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ten_cau_hinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiSoXetNghiem]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiSoXetNghiem](
	[id_chi_so] [int] IDENTITY(1,1) NOT NULL,
	[id_loai_xet_nghiem] [int] NOT NULL,
	[ten_thong_so] [nvarchar](100) NOT NULL,
	[don_vi] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_chi_so] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucNang]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucNang](
	[id_chuc_nang] [int] IDENTITY(1,1) NOT NULL,
	[ma_chuc_nang] [nvarchar](100) NOT NULL,
	[ten_chuc_nang] [nvarchar](100) NOT NULL,
	[mo_ta] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_chuc_nang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ma_chuc_nang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangKyNhanTin]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKyNhanTin](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[NgayDangKy] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGiaDichVu]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGiaDichVu](
	[id_danh_gia] [int] IDENTITY(1,1) NOT NULL,
	[id_khach_hang] [varchar](20) NOT NULL,
	[id_dich_vu] [varchar](20) NOT NULL,
	[so_sao] [int] NOT NULL,
	[noi_dung] [nvarchar](max) NULL,
	[ngay_danh_gia] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_danh_gia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucXetNghiem]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucXetNghiem](
	[id_danh_muc] [int] IDENTITY(1,1) NOT NULL,
	[ten_danh_muc] [nvarchar](100) NOT NULL,
	[mo_ta] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_danh_muc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[id_dich_vu] [varchar](20) NOT NULL,
	[ten_dich_vu] [nvarchar](200) NOT NULL,
	[mo_ta] [nvarchar](500) NULL,
	[gia] [numeric](38, 2) NULL,
	[thoi_luong_phut] [int] NULL,
	[trang_thai] [bit] NOT NULL,
	[da_xoa] [bit] NULL,
	[hinh_anh] [nvarchar](max) NULL,
	[ngay_tao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_dich_vu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVuLichHen]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVuLichHen](
	[id_lich_hen] [varchar](20) NOT NULL,
	[id_dich_vu] [varchar](20) NOT NULL,
	[so_luong] [int] NULL,
	[don_gia] [decimal](10, 2) NOT NULL,
	[ghi_chu] [nvarchar](500) NULL,
 CONSTRAINT [PK_DichVuLichHen] PRIMARY KEY CLUSTERED 
(
	[id_lich_hen] ASC,
	[id_dich_vu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonThuoc]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonThuoc](
	[id_don_thuoc] [varchar](20) NOT NULL,
	[id_ho_so_benh_an] [varchar](20) NOT NULL,
	[id_bac_si] [varchar](20) NOT NULL,
	[ngay_ke_don] [datetime] NULL,
	[ghi_chu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_don_thuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonThuocChiTiet]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonThuocChiTiet](
	[id_chi_tiet_don_thuoc] [varchar](20) NOT NULL,
	[id_don_thuoc] [varchar](20) NOT NULL,
	[id_thuoc] [varchar](20) NOT NULL,
	[so_luong] [int] NOT NULL,
	[lieu_dung] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_chi_tiet_don_thuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailMarketing]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailMarketing](
	[id_email] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[ngay_dang_ky] [datetime] NOT NULL,
	[trang_thai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[file_dinh_kem]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[file_dinh_kem](
	[duong_dan] [varchar](255) NULL,
	[kich_thuoc] [bigint] NULL,
	[loai] [varchar](255) NULL,
	[ngay_upload] [datetime2](6) NULL,
	[ten_file] [varchar](255) NULL,
	[id] [varchar](20) NOT NULL,
	[id_ho_so_benh_an] [varchar](20) NULL,
 CONSTRAINT [PK_file_dinh_kem] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaoDichKho]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoDichKho](
	[id_giao_dich] [varchar](20) NOT NULL,
	[id_thuoc] [varchar](20) NULL,
	[id_lo] [varchar](20) NULL,
	[loai_giao_dich] [nvarchar](50) NOT NULL,
	[so_luong] [int] NOT NULL,
	[gia_tri] [decimal](18, 2) NULL,
	[ngay_giao_dich] [datetime] NOT NULL,
	[id_nhan_vien] [varchar](20) NOT NULL,
	[ghi_chu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_giao_dich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonChiTiet]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonChiTiet](
	[id_chi_tiet_hoa_don] [varchar](20) NOT NULL,
	[id_hoa_don] [varchar](20) NOT NULL,
	[ten_muc] [nvarchar](255) NOT NULL,
	[loai_muc] [nvarchar](50) NULL,
	[so_luong] [int] NULL,
	[don_gia] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_chi_tiet_hoa_don] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KetQuaXetNghiem_ChiTiet]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KetQuaXetNghiem_ChiTiet](
	[id_ket_qua_chi_tiet] [int] IDENTITY(1,1) NOT NULL,
	[id_xet_nghiem_benh_an] [int] NULL,
	[id_chi_so] [int] NOT NULL,
	[gia_tri_ket_qua] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ket_qua_chi_tiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichLamViecNhanVien]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichLamViecNhanVien](
	[id_lich_lam_viec] [bigint] IDENTITY(1,1) NOT NULL,
	[id_nhan_vien] [varchar](20) NULL,
	[ngay_lam] [date] NOT NULL,
	[gio_bat_dau] [time](7) NOT NULL,
	[gio_ket_thuc] [time](7) NULL,
	[ghi_chu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_lich_lam_viec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuTuVan]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuTuVan](
	[id_tu_van] [varchar](20) NOT NULL,
	[id_khach_hang] [varchar](20) NULL,
	[id_thu_cung] [varchar](20) NULL,
	[noi_dung_khach] [nvarchar](max) NULL,
	[noi_dung_rexi] [nvarchar](max) NULL,
	[ngay_tu_van] [datetime] NULL,
	[id_bac_si] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tu_van] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiXetNghiem]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiXetNghiem](
	[id_loai_xet_nghiem] [int] IDENTITY(1,1) NOT NULL,
	[id_danh_muc] [int] NOT NULL,
	[ten_xet_nghiem] [nvarchar](255) NOT NULL,
	[mo_ta] [nvarchar](500) NULL,
	[gia_tien] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_loai_xet_nghiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ten_xet_nghiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[id_ncc] [varchar](20) NOT NULL,
	[ten_ncc] [nvarchar](255) NOT NULL,
	[dia_chi] [nvarchar](255) NULL,
	[so_dien_thoai] [nvarchar](15) NULL,
	[email] [nvarchar](100) NULL,
	[ma_so_thue] [nvarchar](20) NULL,
	[ghi_chu] [nvarchar](500) NULL,
	[ngay_tao] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ncc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhatKyChat]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhatKyChat](
	[id_chat] [bigint] IDENTITY(1,1) NOT NULL,
	[id_tai_khoan] [varchar](20) NULL,
	[cau_hoi] [nvarchar](max) NOT NULL,
	[cau_tra_loi] [nvarchar](max) NOT NULL,
	[thoi_gian] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_chat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhatKyHeThong]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhatKyHeThong](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nguoi_thao_tac] [varchar](100) NULL,
	[hanh_dong] [nvarchar](255) NULL,
	[bang_du_lieu] [varchar](100) NULL,
	[chi_tiet] [nvarchar](max) NULL,
	[ngay_tao] [datetime] NULL,
	[ten_dang_nhap] [nvarchar](100) NULL,
	[ip_address] [nvarchar](50) NULL,
	[device_info] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanCongNhanVien]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanCongNhanVien](
	[id_nhan_vien] [varchar](20) NOT NULL,
	[id_vai_tro] [varchar](20) NOT NULL,
	[ngay_bat_dau_phan_cong] [date] NOT NULL,
	[ngay_ket_thuc_phan_cong] [date] NULL,
 CONSTRAINT [PK_PhanCongNhanVien] PRIMARY KEY CLUSTERED 
(
	[id_nhan_vien] ASC,
	[id_vai_tro] ASC,
	[ngay_bat_dau_phan_cong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanQuyen]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanQuyen](
	[id_vai_tro] [varchar](20) NOT NULL,
	[id_chuc_nang] [int] NOT NULL,
 CONSTRAINT [PK_PhanQuyen] PRIMARY KEY CLUSTERED 
(
	[id_vai_tro] ASC,
	[id_chuc_nang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[id_tai_khoan] [varchar](20) NOT NULL,
	[ten_dang_nhap] [nvarchar](100) NOT NULL,
	[mat_khau] [nvarchar](255) NOT NULL,
	[id_vai_tro] [varchar](20) NULL,
	[trang_thai] [nvarchar](50) NULL,
	[ngay_tao] [datetime] NOT NULL,
	[id_khach_hang] [varchar](20) NULL,
	[mat_khau_hash] [nvarchar](255) NULL,
	[id_nhan_vien] [varchar](20) NULL,
	[welcome_email_sent] [bit] NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[id_tai_khoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TaiKhoan_TenDangNhap] UNIQUE NONCLUSTERED 
(
	[ten_dang_nhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhToan]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToan](
	[id_thanh_toan] [varchar](20) NOT NULL,
	[id_hoa_don] [varchar](20) NOT NULL,
	[so_tien] [decimal](12, 2) NOT NULL,
	[phuong_thuc] [nvarchar](50) NULL,
	[ngay_tra_tien] [datetime] NULL,
	[id_nhan_vien] [varchar](20) NULL,
	[ma_giao_dich_ngan_hang] [nvarchar](100) NULL,
	[ghi_chu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_thanh_toan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongBao]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongBao](
	[id_thong_bao] [varchar](20) NOT NULL,
	[id_tai_khoan] [varchar](20) NOT NULL,
	[tieu_de] [nvarchar](255) NULL,
	[noi_dung] [nvarchar](max) NULL,
	[loai_thong_bao] [nvarchar](50) NULL,
	[ngay_tao] [datetime] NOT NULL,
	[da_doc] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_thong_bao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiemChung]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiemChung](
	[id_tiem_chung] [varchar](20) NOT NULL,
	[id_thu_cung] [varchar](20) NOT NULL,
	[ten_vaccine] [nvarchar](100) NOT NULL,
	[ngay_tiem] [date] NOT NULL,
	[ngay_tiem_lai] [date] NULL,
	[id_bac_si] [varchar](20) NULL,
	[ghi_chu] [nvarchar](500) NULL,
	[loai_vaccine] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tiem_chung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTroHeThong]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTroHeThong](
	[id_vai_tro] [varchar](20) NOT NULL,
	[ten_vai_tro] [nvarchar](50) NOT NULL,
	[mo_ta] [nvarchar](255) NULL,
 CONSTRAINT [PK_VaiTroHeThong] PRIMARY KEY CLUSTERED 
(
	[id_vai_tro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_HoaDon_NgayLap]    Script Date: 04/06/2026 00:37:23 ******/
CREATE NONCLUSTERED INDEX [IX_HoaDon_NgayLap] ON [dbo].[HoaDon]
(
	[ngay_lap_hoa_don] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_KhachHang_Email]    Script Date: 04/06/2026 00:37:23 ******/
CREATE NONCLUSTERED INDEX [IX_KhachHang_Email] ON [dbo].[KhachHang]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_KhachHang_SDT]    Script Date: 04/06/2026 00:37:23 ******/
CREATE NONCLUSTERED INDEX [IX_KhachHang_SDT] ON [dbo].[KhachHang]
(
	[sdt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LichHen_KhachHang]    Script Date: 04/06/2026 00:37:23 ******/
CREATE NONCLUSTERED INDEX [IX_LichHen_KhachHang] ON [dbo].[LichHen]
(
	[id_khach_hang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LichHen_NgayKham]    Script Date: 04/06/2026 00:37:23 ******/
CREATE NONCLUSTERED INDEX [IX_LichHen_NgayKham] ON [dbo].[LichHen]
(
	[ngay_kham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NhanVien_Email]    Script Date: 04/06/2026 00:37:23 ******/
CREATE NONCLUSTERED INDEX [IX_NhanVien_Email] ON [dbo].[NhanVien]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NhatKy_NguoiThaoTac]    Script Date: 04/06/2026 00:37:23 ******/
CREATE NONCLUSTERED INDEX [IX_NhatKy_NguoiThaoTac] ON [dbo].[NhatKyHeThong]
(
	[nguoi_thao_tac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ThuCung_IdKhachHang]    Script Date: 04/06/2026 00:37:23 ******/
CREATE NONCLUSTERED INDEX [IX_ThuCung_IdKhachHang] ON [dbo].[ThuCung]
(
	[id_khach_hang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DangKyNhanTin] ADD  DEFAULT (getdate()) FOR [NgayDangKy]
GO
ALTER TABLE [dbo].[DanhGiaDichVu] ADD  DEFAULT (getdate()) FOR [ngay_danh_gia]
GO
ALTER TABLE [dbo].[EmailMarketing] ADD  DEFAULT (getdate()) FOR [ngay_dang_ky]
GO
ALTER TABLE [dbo].[EmailMarketing] ADD  DEFAULT ((1)) FOR [trang_thai]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [ngay_lap]
GO
ALTER TABLE [dbo].[HoSoBenhAn] ADD  DEFAULT (getdate()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (getdate()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (getdate()) FOR [ngay_cap_nhat]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [da_xoa]
GO
ALTER TABLE [dbo].[LichHen] ADD  DEFAULT (getdate()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT ((0)) FOR [da_xoa]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT ((1)) FOR [nhan_email]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT ((1)) FOR [nhan_sms]
GO
ALTER TABLE [dbo].[NhatKyChat] ADD  DEFAULT (getdate()) FOR [thoi_gian]
GO
ALTER TABLE [dbo].[NhatKyHeThong] ADD  DEFAULT (getdate()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (getdate()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ((0)) FOR [welcome_email_sent]
GO
ALTER TABLE [dbo].[ThongBao] ADD  DEFAULT ((0)) FOR [da_doc]
GO
ALTER TABLE [dbo].[ThuCung] ADD  DEFAULT (getdate()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[ThuCung] ADD  DEFAULT ((0)) FOR [da_xoa]
GO
ALTER TABLE [dbo].[BenhAn_XetNghiem]  WITH CHECK ADD  CONSTRAINT [FK_BAXN_BacSi] FOREIGN KEY([id_bac_si])
REFERENCES [dbo].[NhanVien] ([id_nhan_vien])
GO
ALTER TABLE [dbo].[BenhAn_XetNghiem] CHECK CONSTRAINT [FK_BAXN_BacSi]
GO
ALTER TABLE [dbo].[BenhAn_XetNghiem]  WITH CHECK ADD  CONSTRAINT [FK_BAXN_HoSo] FOREIGN KEY([id_ho_so])
REFERENCES [dbo].[HoSoBenhAn] ([id_ho_so_benh_an])
GO
ALTER TABLE [dbo].[BenhAn_XetNghiem] CHECK CONSTRAINT [FK_BAXN_HoSo]
GO
ALTER TABLE [dbo].[BenhAn_XetNghiem]  WITH CHECK ADD  CONSTRAINT [FK_BenhAnXetNghiem_DichVu] FOREIGN KEY([id_loai_xet_nghiem])
REFERENCES [dbo].[DichVu] ([id_dich_vu])
GO
ALTER TABLE [dbo].[BenhAn_XetNghiem] CHECK CONSTRAINT [FK_BenhAnXetNghiem_DichVu]
GO
ALTER TABLE [dbo].[BenhAn_XetNghiem]  WITH CHECK ADD  CONSTRAINT [FK_BenhAnXetNghiem_HoSo] FOREIGN KEY([id_ho_so])
REFERENCES [dbo].[HoSoBenhAn] ([id_ho_so_benh_an])
GO
ALTER TABLE [dbo].[BenhAn_XetNghiem] CHECK CONSTRAINT [FK_BenhAnXetNghiem_HoSo]
GO
ALTER TABLE [dbo].[CauHinhHeThong]  WITH CHECK ADD  CONSTRAINT [FK_CauHinh_NhanVien_LienKet] FOREIGN KEY([id_nhan_vien_cap_nhat])
REFERENCES [dbo].[NhanVien] ([id_nhan_vien])
GO
ALTER TABLE [dbo].[CauHinhHeThong] CHECK CONSTRAINT [FK_CauHinh_NhanVien_LienKet]
GO
ALTER TABLE [dbo].[ChiSoXetNghiem]  WITH CHECK ADD  CONSTRAINT [FK_ChiSo_LoaiXN] FOREIGN KEY([id_loai_xet_nghiem])
REFERENCES [dbo].[LoaiXetNghiem] ([id_loai_xet_nghiem])
GO
ALTER TABLE [dbo].[ChiSoXetNghiem] CHECK CONSTRAINT [FK_ChiSo_LoaiXN]
GO
ALTER TABLE [dbo].[ChiSoXetNghiem]  WITH CHECK ADD  CONSTRAINT [FK_ChiSoXetNghiem_LoaiXN] FOREIGN KEY([id_loai_xet_nghiem])
REFERENCES [dbo].[LoaiXetNghiem] ([id_loai_xet_nghiem])
GO
ALTER TABLE [dbo].[ChiSoXetNghiem] CHECK CONSTRAINT [FK_ChiSoXetNghiem_LoaiXN]
GO
ALTER TABLE [dbo].[DanhGiaDichVu]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_DV_Final] FOREIGN KEY([id_dich_vu])
REFERENCES [dbo].[DichVu] ([id_dich_vu])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DanhGiaDichVu] CHECK CONSTRAINT [FK_DanhGia_DV_Final]
GO
ALTER TABLE [dbo].[DanhGiaDichVu]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_KH_Final] FOREIGN KEY([id_khach_hang])
REFERENCES [dbo].[KhachHang] ([id_khach_hang])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DanhGiaDichVu] CHECK CONSTRAINT [FK_DanhGia_KH_Final]
GO
ALTER TABLE [dbo].[DichVuLichHen]  WITH CHECK ADD  CONSTRAINT [FK_DichVuLichHen_DichVu] FOREIGN KEY([id_dich_vu])
REFERENCES [dbo].[DichVu] ([id_dich_vu])
GO
ALTER TABLE [dbo].[DichVuLichHen] CHECK CONSTRAINT [FK_DichVuLichHen_DichVu]
GO
ALTER TABLE [dbo].[DichVuLichHen]  WITH CHECK ADD  CONSTRAINT [FK_DichVuLichHen_LichHen] FOREIGN KEY([id_lich_hen])
REFERENCES [dbo].[LichHen] ([id_lich_hen])
GO
ALTER TABLE [dbo].[DichVuLichHen] CHECK CONSTRAINT [FK_DichVuLichHen_LichHen]
GO
ALTER TABLE [dbo].[DonThuoc]  WITH CHECK ADD  CONSTRAINT [FK_DonThuoc_HoSo] FOREIGN KEY([id_ho_so_benh_an])
REFERENCES [dbo].[HoSoBenhAn] ([id_ho_so_benh_an])
GO
ALTER TABLE [dbo].[DonThuoc] CHECK CONSTRAINT [FK_DonThuoc_HoSo]
GO
ALTER TABLE [dbo].[DonThuocChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_DonThuocChiTiet_DonThuoc] FOREIGN KEY([id_don_thuoc])
REFERENCES [dbo].[DonThuoc] ([id_don_thuoc])
GO
ALTER TABLE [dbo].[DonThuocChiTiet] CHECK CONSTRAINT [FK_DonThuocChiTiet_DonThuoc]
GO
ALTER TABLE [dbo].[DonThuocChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_DonThuocChiTiet_Thuoc] FOREIGN KEY([id_thuoc])
REFERENCES [dbo].[Thuoc] ([id_thuoc])
GO
ALTER TABLE [dbo].[DonThuocChiTiet] CHECK CONSTRAINT [FK_DonThuocChiTiet_Thuoc]
GO
ALTER TABLE [dbo].[DonThuocChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_DonThuocCT_DonThuoc] FOREIGN KEY([id_don_thuoc])
REFERENCES [dbo].[DonThuoc] ([id_don_thuoc])
GO
ALTER TABLE [dbo].[DonThuocChiTiet] CHECK CONSTRAINT [FK_DonThuocCT_DonThuoc]
GO
ALTER TABLE [dbo].[DonThuocChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_DonThuocCT_Thuoc] FOREIGN KEY([id_thuoc])
REFERENCES [dbo].[Thuoc] ([id_thuoc])
GO
ALTER TABLE [dbo].[DonThuocChiTiet] CHECK CONSTRAINT [FK_DonThuocCT_Thuoc]
GO
ALTER TABLE [dbo].[file_dinh_kem]  WITH CHECK ADD  CONSTRAINT [FK_FileDinhKem_HoSo] FOREIGN KEY([id_ho_so_benh_an])
REFERENCES [dbo].[HoSoBenhAn] ([id_ho_so_benh_an])
GO
ALTER TABLE [dbo].[file_dinh_kem] CHECK CONSTRAINT [FK_FileDinhKem_HoSo]
GO
ALTER TABLE [dbo].[GiaoDichKho]  WITH CHECK ADD  CONSTRAINT [FK_GDKho_Lo] FOREIGN KEY([id_lo])
REFERENCES [dbo].[LoThuoc] ([id_lo])
GO
ALTER TABLE [dbo].[GiaoDichKho] CHECK CONSTRAINT [FK_GDKho_Lo]
GO
ALTER TABLE [dbo].[GiaoDichKho]  WITH CHECK ADD  CONSTRAINT [FK_GDKho_Thuoc] FOREIGN KEY([id_thuoc])
REFERENCES [dbo].[Thuoc] ([id_thuoc])
GO
ALTER TABLE [dbo].[GiaoDichKho] CHECK CONSTRAINT [FK_GDKho_Thuoc]
GO
ALTER TABLE [dbo].[GiaoDichKho]  WITH CHECK ADD  CONSTRAINT [FK_GiaoDichKho_LoThuoc] FOREIGN KEY([id_lo])
REFERENCES [dbo].[LoThuoc] ([id_lo])
GO
ALTER TABLE [dbo].[GiaoDichKho] CHECK CONSTRAINT [FK_GiaoDichKho_LoThuoc]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([id_khach_hang])
REFERENCES [dbo].[KhachHang] ([id_khach_hang])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_LichHen] FOREIGN KEY([id_lich_hen])
REFERENCES [dbo].[LichHen] ([id_lich_hen])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_LichHen]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([id_nhan_vien])
REFERENCES [dbo].[NhanVien] ([id_nhan_vien])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[HoaDonChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonChiTiet_HoaDon] FOREIGN KEY([id_hoa_don])
REFERENCES [dbo].[HoaDon] ([id_hoa_don])
GO
ALTER TABLE [dbo].[HoaDonChiTiet] CHECK CONSTRAINT [FK_HoaDonChiTiet_HoaDon]
GO
ALTER TABLE [dbo].[HoSoBenhAn]  WITH CHECK ADD  CONSTRAINT [FK_HoSo_BacSi] FOREIGN KEY([id_bac_si])
REFERENCES [dbo].[NhanVien] ([id_nhan_vien])
GO
ALTER TABLE [dbo].[HoSoBenhAn] CHECK CONSTRAINT [FK_HoSo_BacSi]
GO
ALTER TABLE [dbo].[HoSoBenhAn]  WITH CHECK ADD  CONSTRAINT [FK_HoSo_LichHen] FOREIGN KEY([id_lich_hen])
REFERENCES [dbo].[LichHen] ([id_lich_hen])
GO
ALTER TABLE [dbo].[HoSoBenhAn] CHECK CONSTRAINT [FK_HoSo_LichHen]
GO
ALTER TABLE [dbo].[HoSoBenhAn]  WITH CHECK ADD  CONSTRAINT [FK_HoSo_NguoiTao] FOREIGN KEY([id_nguoi_tao])
REFERENCES [dbo].[NhanVien] ([id_nhan_vien])
GO
ALTER TABLE [dbo].[HoSoBenhAn] CHECK CONSTRAINT [FK_HoSo_NguoiTao]
GO
ALTER TABLE [dbo].[HoSoBenhAn]  WITH CHECK ADD  CONSTRAINT [FK_HoSo_ThuCung] FOREIGN KEY([id_thu_cung])
REFERENCES [dbo].[ThuCung] ([id_thu_cung])
GO
ALTER TABLE [dbo].[HoSoBenhAn] CHECK CONSTRAINT [FK_HoSo_ThuCung]
GO
ALTER TABLE [dbo].[HoSoBenhAn]  WITH CHECK ADD  CONSTRAINT [FK_HoSoBenhAn_ThuCung] FOREIGN KEY([id_thu_cung])
REFERENCES [dbo].[ThuCung] ([id_thu_cung])
GO
ALTER TABLE [dbo].[HoSoBenhAn] CHECK CONSTRAINT [FK_HoSoBenhAn_ThuCung]
GO
ALTER TABLE [dbo].[KetQuaXetNghiem_ChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_KetQuaXetNghiem_BAXN] FOREIGN KEY([id_xet_nghiem_benh_an])
REFERENCES [dbo].[BenhAn_XetNghiem] ([id_xet_nghiem_benh_an])
GO
ALTER TABLE [dbo].[KetQuaXetNghiem_ChiTiet] CHECK CONSTRAINT [FK_KetQuaXetNghiem_BAXN]
GO
ALTER TABLE [dbo].[KetQuaXetNghiem_ChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_KetQuaXetNghiem_ChiSo] FOREIGN KEY([id_chi_so])
REFERENCES [dbo].[ChiSoXetNghiem] ([id_chi_so])
GO
ALTER TABLE [dbo].[KetQuaXetNghiem_ChiTiet] CHECK CONSTRAINT [FK_KetQuaXetNghiem_ChiSo]
GO
ALTER TABLE [dbo].[KetQuaXetNghiem_ChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_KQChiTiet_BAXN] FOREIGN KEY([id_xet_nghiem_benh_an])
REFERENCES [dbo].[BenhAn_XetNghiem] ([id_xet_nghiem_benh_an])
GO
ALTER TABLE [dbo].[KetQuaXetNghiem_ChiTiet] CHECK CONSTRAINT [FK_KQChiTiet_BAXN]
GO
ALTER TABLE [dbo].[KetQuaXetNghiem_ChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_KQChiTiet_ChiSo] FOREIGN KEY([id_chi_so])
REFERENCES [dbo].[ChiSoXetNghiem] ([id_chi_so])
GO
ALTER TABLE [dbo].[KetQuaXetNghiem_ChiTiet] CHECK CONSTRAINT [FK_KQChiTiet_ChiSo]
GO
ALTER TABLE [dbo].[KetQuaXetNghiem_ChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_KQCT_XetNghiem_Final] FOREIGN KEY([id_xet_nghiem_benh_an])
REFERENCES [dbo].[BenhAn_XetNghiem] ([id_xet_nghiem_benh_an])
GO
ALTER TABLE [dbo].[KetQuaXetNghiem_ChiTiet] CHECK CONSTRAINT [FK_KQCT_XetNghiem_Final]
GO
ALTER TABLE [dbo].[LichHen]  WITH CHECK ADD  CONSTRAINT [FK_LichHen_BacSi] FOREIGN KEY([id_bac_si])
REFERENCES [dbo].[NhanVien] ([id_nhan_vien])
GO
ALTER TABLE [dbo].[LichHen] CHECK CONSTRAINT [FK_LichHen_BacSi]
GO
ALTER TABLE [dbo].[LichHen]  WITH CHECK ADD  CONSTRAINT [FK_LichHen_KhachHang] FOREIGN KEY([id_khach_hang])
REFERENCES [dbo].[KhachHang] ([id_khach_hang])
GO
ALTER TABLE [dbo].[LichHen] CHECK CONSTRAINT [FK_LichHen_KhachHang]
GO
ALTER TABLE [dbo].[LichHen]  WITH CHECK ADD  CONSTRAINT [FK_LichHen_ThuCung] FOREIGN KEY([id_thu_cung])
REFERENCES [dbo].[ThuCung] ([id_thu_cung])
GO
ALTER TABLE [dbo].[LichHen] CHECK CONSTRAINT [FK_LichHen_ThuCung]
GO
ALTER TABLE [dbo].[LichLamViecNhanVien]  WITH CHECK ADD  CONSTRAINT [FK_LichLamViec_NhanVien] FOREIGN KEY([id_nhan_vien])
REFERENCES [dbo].[NhanVien] ([id_nhan_vien])
GO
ALTER TABLE [dbo].[LichLamViecNhanVien] CHECK CONSTRAINT [FK_LichLamViec_NhanVien]
GO
ALTER TABLE [dbo].[LichSuTuVan]  WITH CHECK ADD  CONSTRAINT [FK_LichSuTuVan_KhachHang] FOREIGN KEY([id_khach_hang])
REFERENCES [dbo].[KhachHang] ([id_khach_hang])
GO
ALTER TABLE [dbo].[LichSuTuVan] CHECK CONSTRAINT [FK_LichSuTuVan_KhachHang]
GO
ALTER TABLE [dbo].[LichSuTuVan]  WITH CHECK ADD  CONSTRAINT [FK_LichSuTuVan_ThuCung] FOREIGN KEY([id_thu_cung])
REFERENCES [dbo].[ThuCung] ([id_thu_cung])
GO
ALTER TABLE [dbo].[LichSuTuVan] CHECK CONSTRAINT [FK_LichSuTuVan_ThuCung]
GO
ALTER TABLE [dbo].[LoaiXetNghiem]  WITH CHECK ADD  CONSTRAINT [FK_LoaiXetNghiem_DanhMuc] FOREIGN KEY([id_danh_muc])
REFERENCES [dbo].[DanhMucXetNghiem] ([id_danh_muc])
GO
ALTER TABLE [dbo].[LoaiXetNghiem] CHECK CONSTRAINT [FK_LoaiXetNghiem_DanhMuc]
GO
ALTER TABLE [dbo].[LoThuoc]  WITH CHECK ADD  CONSTRAINT [FK_LoThuoc_NCC] FOREIGN KEY([id_ncc])
REFERENCES [dbo].[NhaCungCap] ([id_ncc])
GO
ALTER TABLE [dbo].[LoThuoc] CHECK CONSTRAINT [FK_LoThuoc_NCC]
GO
ALTER TABLE [dbo].[LoThuoc]  WITH CHECK ADD  CONSTRAINT [FK_LoThuoc_Thuoc] FOREIGN KEY([id_thuoc])
REFERENCES [dbo].[Thuoc] ([id_thuoc])
GO
ALTER TABLE [dbo].[LoThuoc] CHECK CONSTRAINT [FK_LoThuoc_Thuoc]
GO
ALTER TABLE [dbo].[NhatKyChat]  WITH CHECK ADD  CONSTRAINT [FK_Chat_TaiKhoan_Safe] FOREIGN KEY([id_tai_khoan])
REFERENCES [dbo].[TaiKhoan] ([id_tai_khoan])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[NhatKyChat] CHECK CONSTRAINT [FK_Chat_TaiKhoan_Safe]
GO
ALTER TABLE [dbo].[NhatKyHeThong]  WITH CHECK ADD  CONSTRAINT [FK_NhatKy_TaiKhoan] FOREIGN KEY([ten_dang_nhap])
REFERENCES [dbo].[TaiKhoan] ([ten_dang_nhap])
GO
ALTER TABLE [dbo].[NhatKyHeThong] CHECK CONSTRAINT [FK_NhatKy_TaiKhoan]
GO
ALTER TABLE [dbo].[PhanCongNhanVien]  WITH CHECK ADD  CONSTRAINT [FK_PhanCong_NhanVien] FOREIGN KEY([id_nhan_vien])
REFERENCES [dbo].[NhanVien] ([id_nhan_vien])
GO
ALTER TABLE [dbo].[PhanCongNhanVien] CHECK CONSTRAINT [FK_PhanCong_NhanVien]
GO
ALTER TABLE [dbo].[PhanCongNhanVien]  WITH CHECK ADD  CONSTRAINT [FK_PhanCong_VaiTro] FOREIGN KEY([id_vai_tro])
REFERENCES [dbo].[VaiTroHeThong] ([id_vai_tro])
GO
ALTER TABLE [dbo].[PhanCongNhanVien] CHECK CONSTRAINT [FK_PhanCong_VaiTro]
GO
ALTER TABLE [dbo].[PhanQuyen]  WITH CHECK ADD  CONSTRAINT [FK_PhanQuyen_ChucNang] FOREIGN KEY([id_chuc_nang])
REFERENCES [dbo].[ChucNang] ([id_chuc_nang])
GO
ALTER TABLE [dbo].[PhanQuyen] CHECK CONSTRAINT [FK_PhanQuyen_ChucNang]
GO
ALTER TABLE [dbo].[PhanQuyen]  WITH CHECK ADD  CONSTRAINT [FK_PhanQuyen_VaiTro] FOREIGN KEY([id_vai_tro])
REFERENCES [dbo].[VaiTroHeThong] ([id_vai_tro])
GO
ALTER TABLE [dbo].[PhanQuyen] CHECK CONSTRAINT [FK_PhanQuyen_VaiTro]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_KhachHang] FOREIGN KEY([id_khach_hang])
REFERENCES [dbo].[KhachHang] ([id_khach_hang])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_KhachHang]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_NhanVien] FOREIGN KEY([id_nhan_vien])
REFERENCES [dbo].[NhanVien] ([id_nhan_vien])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_NhanVien]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_VaiTro] FOREIGN KEY([id_vai_tro])
REFERENCES [dbo].[VaiTroHeThong] ([id_vai_tro])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_VaiTro]
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD  CONSTRAINT [FK_ThanhToan_HoaDon] FOREIGN KEY([id_hoa_don])
REFERENCES [dbo].[HoaDon] ([id_hoa_don])
GO
ALTER TABLE [dbo].[ThanhToan] CHECK CONSTRAINT [FK_ThanhToan_HoaDon]
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD  CONSTRAINT [FK_ThanhToan_NhanVien] FOREIGN KEY([id_nhan_vien])
REFERENCES [dbo].[NhanVien] ([id_nhan_vien])
GO
ALTER TABLE [dbo].[ThanhToan] CHECK CONSTRAINT [FK_ThanhToan_NhanVien]
GO
ALTER TABLE [dbo].[ThongBao]  WITH CHECK ADD  CONSTRAINT [FK_ThongBao_TaiKhoan] FOREIGN KEY([id_tai_khoan])
REFERENCES [dbo].[TaiKhoan] ([id_tai_khoan])
GO
ALTER TABLE [dbo].[ThongBao] CHECK CONSTRAINT [FK_ThongBao_TaiKhoan]
GO
ALTER TABLE [dbo].[ThuCung]  WITH CHECK ADD  CONSTRAINT [FK_ThuCung_KhachHang] FOREIGN KEY([id_khach_hang])
REFERENCES [dbo].[KhachHang] ([id_khach_hang])
GO
ALTER TABLE [dbo].[ThuCung] CHECK CONSTRAINT [FK_ThuCung_KhachHang]
GO
ALTER TABLE [dbo].[TiemChung]  WITH CHECK ADD  CONSTRAINT [FK_TiemChung_BacSi] FOREIGN KEY([id_bac_si])
REFERENCES [dbo].[NhanVien] ([id_nhan_vien])
GO
ALTER TABLE [dbo].[TiemChung] CHECK CONSTRAINT [FK_TiemChung_BacSi]
GO
ALTER TABLE [dbo].[TiemChung]  WITH CHECK ADD  CONSTRAINT [FK_TiemChung_ThuCung] FOREIGN KEY([id_thu_cung])
REFERENCES [dbo].[ThuCung] ([id_thu_cung])
GO
ALTER TABLE [dbo].[TiemChung] CHECK CONSTRAINT [FK_TiemChung_ThuCung]
GO
ALTER TABLE [dbo].[DanhGiaDichVu]  WITH CHECK ADD CHECK  (([so_sao]>=(1) AND [so_sao]<=(5)))
GO
/****** Object:  StoredProcedure [dbo].[sp_AddAppointment]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =========================================
-- PHáº¦N 4: STORED PROCEDURES
-- =========================================

-- 1. Äáº·t lá»‹ch háº¹n
CREATE PROCEDURE [dbo].[sp_AddAppointment]
    @NgayHen        DATE,
    @GioHen         TIME,
    @LyDo           NVARCHAR(500) = NULL,
    @IdKhachHang    INT,
    @IdThuCung      INT,
    @IdBacSi        INT,
    @IdNguoiDat     INT = NULL,
    @PhongKham      NVARCHAR(100) = NULL,
    @GhiChu         NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.LichHen 
        (ngay_kham, gio_kham, ly_do, trang_thai, id_khach_hang, id_thu_cung, 
         id_bac_si, id_nguoi_dat, phong_kham, ghi_chu_noi_bo, ngay_tao)
    VALUES 
        (@NgayHen, @GioHen, @LyDo, N'da_dat', @IdKhachHang, @IdThuCung, 
         @IdBacSi, @IdNguoiDat, @PhongKham, @GhiChu, GETDATE());

    SELECT SCOPE_IDENTITY() AS id_lich_hen_moi;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AddMedicalRecord]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Táº¡o há»“ sÆ¡ bá»‡nh Ã¡n
CREATE PROCEDURE [dbo].[sp_AddMedicalRecord]
    @IdLichHen          INT,
    @NgayKham           DATE,
    @IdBacSi            INT,
    @CanNang            DECIMAL(8,2),
    @NhietDo            DECIMAL(5,2),
    @TrieuChung         NVARCHAR(500),
    @ChanDoan           NVARCHAR(500),
    @PhacDoDieuTri      NVARCHAR(500) = NULL,
    @HuongDanChamSoc    NVARCHAR(500) = NULL,
    @IdNguoiTao         INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Kiá»ƒm tra lá»‹ch háº¹n tá»“n táº¡i
    IF NOT EXISTS (SELECT 1 FROM dbo.LichHen WHERE id_lich_hen = @IdLichHen)
    BEGIN
        RAISERROR(N'KhÃ´ng tÃ¬m tháº¥y lá»‹ch háº¹n vá»›i id = %d', 16, 1, @IdLichHen);
        RETURN;
    END

    INSERT INTO dbo.HoSoBenhAn (
        id_lich_hen, ngay_kham, id_bac_si, can_nang, nhiet_do, 
        trieu_chung, chan_doan, phac_do_dieu_tri, huong_dan_cham_soc, 
        trang_thai_ho_so, id_nguoi_tao, ngay_tao
    )
    VALUES (
        @IdLichHen, @NgayKham, @IdBacSi, @CanNang, @NhietDo, 
        @TrieuChung, @ChanDoan, @PhacDoDieuTri, @HuongDanChamSoc, 
        N'nhap', @IdNguoiTao, GETDATE()
    );

    -- Cáº­p nháº­t tráº¡ng thÃ¡i lá»‹ch háº¹n
    UPDATE dbo.LichHen 
    SET trang_thai = N'da_kham' 
    WHERE id_lich_hen = @IdLichHen;

    SELECT SCOPE_IDENTITY() AS id_ho_so_moi;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CapNhatThongTinKhachHang]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

-- 2. Cáº­p nháº­t Stored Procedure sp_CapNhatThongTinKhachHang
CREATE PROCEDURE [dbo].[sp_CapNhatThongTinKhachHang] 
    @IdKhachHang VARCHAR(50), 
    @TenKhachHang NVARCHAR(100), 
    @Email NVARCHAR(100) = NULL, 
    @SDT NVARCHAR(15) = NULL, 
    @DiaChi NVARCHAR(255) = NULL,
    @NamSinh INT = NULL
AS 
BEGIN 
    UPDATE dbo.KhachHang 
    SET 
        ten_khach_hang = @TenKhachHang, 
        email = @Email, 
        sdt = @SDT, 
        dia_chi = @DiaChi, 
        nam_sinh = @NamSinh,
        ngay_cap_nhat = GETDATE() 
    WHERE id_khach_hang = @IdKhachHang; 
    
    SELECT N'Cáº­p nháº­t thÃ´ng tin thÃ nh cÃ´ng' AS ThongBao; 
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_CapNhatTonKho]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. Cáº­p nháº­t tá»“n kho thá»§ cÃ´ng (dÃ nh cho quáº£n lÃ½ kho)
CREATE PROCEDURE [dbo].[sp_CapNhatTonKho]
    @IdLo INT,
    @SoLuongThayDoi INT,
    @LoaiGiaoDich NVARCHAR(50),   -- 'nhap_them', 'xuat_huy', 'kiem_ke'...
    @IdNhanVien INT,
    @GhiChu NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.LoThuoc
    SET so_luong_ton = so_luong_ton + @SoLuongThayDoi,
        ngay_cap_nhat_ton_kho = GETDATE()
    WHERE id_lo = @IdLo;

    INSERT INTO dbo.GiaoDichKho 
        (id_lo, loai_giao_dich, so_luong, ngay_giao_dich, id_nhan_vien, ghi_chu)
    VALUES 
        (@IdLo, @LoaiGiaoDich, @SoLuongThayDoi, GETDATE(), @IdNhanVien, @GhiChu);

    SELECT N'Cáº­p nháº­t tá»“n kho thÃ nh cÃ´ng' AS ThongBao;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DangKyKhachHang]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =========================================
-- PHáº¦N Bá»” SUNG 3: STORED PROCEDURE QUAN TRá»ŒNG CHO WEB
-- =========================================

-- 1. ÄÄƒng kÃ½ tÃ i khoáº£n khÃ¡ch hÃ ng
CREATE   PROCEDURE [dbo].[sp_DangKyKhachHang]
    @TenDangNhap NVARCHAR(50),
    @MatKhau NVARCHAR(255),           -- sáº½ Ä‘Æ°á»£c hash á»Ÿ backend
    @TenKhachHang NVARCHAR(100),
    @Email NVARCHAR(100) = NULL,
    @SDT NVARCHAR(15) = NULL,
    @DiaChi NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Táº¡o khÃ¡ch hÃ ng
        INSERT INTO dbo.KhachHang (ten_khach_hang, email, sdt, dia_chi, ngay_tao, ngay_cap_nhat, da_xoa)
        VALUES (@TenKhachHang, @Email, @SDT, @DiaChi, GETDATE(), GETDATE(), 0);

        DECLARE @IdKhachHang INT = SCOPE_IDENTITY();

        -- Táº¡o tÃ i khoáº£n
        INSERT INTO dbo.TaiKhoan (ten_dang_nhap, mat_khau, id_vai_tro, trang_thai, ngay_tao, id_khach_hang)
        VALUES (@TenDangNhap, @MatKhau, 
                (SELECT id_vai_tro FROM dbo.VaiTroHeThong WHERE ten_vai_tro = N'khÃ¡ch hÃ ng'),
                N'active', GETDATE(), @IdKhachHang);

        COMMIT TRANSACTION;

        SELECT N'ÄÄƒng kÃ½ thÃ nh cÃ´ng' AS ThongBao, @IdKhachHang AS IdKhachHang;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DangNhap]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DangNhap]
    @TenDangNhap NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    -- Tìm tài khoản dựa trên ten_dang_nhap HOẶC email của khách hàng/nhân viên
    SELECT 
        t.id_tai_khoan, 
        t.ten_dang_nhap, 
        t.mat_khau, 
        t.mat_khau_hash,
        v.ten_vai_tro, 
        t.trang_thai, 
        k.ten_khach_hang, 
        n.ho_ten,
        ISNULL(k.id_khach_hang, 0) AS id_khach_hang, 
        ISNULL(n.id_nhan_vien, 0) AS id_nhan_vien,
        ISNULL(k.email, n.email) AS email
    FROM dbo.TaiKhoan t
    LEFT JOIN dbo.VaiTroHeThong v ON t.id_vai_tro = v.id_vai_tro
    LEFT JOIN dbo.KhachHang k ON t.id_khach_hang = k.id_khach_hang
    LEFT JOIN dbo.NhanVien n ON t.id_nhan_vien = n.id_nhan_vien
    WHERE (t.ten_dang_nhap = @TenDangNhap OR k.email = @TenDangNhap OR n.email = @TenDangNhap)
      AND t.trang_thai = N'active';
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_DonDepNhatKy]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- KỊCH BẢN 5: THỦ TỤC DỌN DẸP LOG HỆ THỐNG
CREATE PROCEDURE [dbo].[sp_DonDepNhatKy]
AS
BEGIN
    SET NOCOUNT ON;
    -- Xóa các log cũ hơn 60 ngày
    DELETE FROM dbo.NhatKyHeThong
    WHERE ngay_gio < DATEADD(DAY, -60, GETDATE());
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_HuyLichHen]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. Há»§y lá»‹ch háº¹n (cáº­p nháº­t tráº¡ng thÃ¡i)
CREATE PROCEDURE [dbo].[sp_HuyLichHen]
    @IdLichHen INT,
    @LyDoHuy NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.LichHen
    SET trang_thai = N'da_huy',
        ghi_chu_noi_bo = ISNULL(ghi_chu_noi_bo, '') + N' - Há»§y: ' + ISNULL(@LyDoHuy, N'')
    WHERE id_lich_hen = @IdLichHen;

    IF @@ROWCOUNT = 0
        RAISERROR(N'KhÃ´ng tÃ¬m tháº¥y lá»‹ch háº¹n Ä‘á»ƒ há»§y!', 16, 1);
    ELSE
        SELECT N'Há»§y lá»‹ch háº¹n thÃ nh cÃ´ng' AS ThongBao;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LapHoaDon]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

        CREATE PROCEDURE [dbo].[sp_LapHoaDon]
            @IdLichHen          INT,
            @ThueSuat           DECIMAL(5,2) = 0,
            @TongTienGiamGia    DECIMAL(12,2) = 0,
            @IdNhanVienLap      INT,
            @GhiChu             NVARCHAR(500) = NULL
        AS
        BEGIN
            SET NOCOUNT ON;
            DECLARE @IdKhachHang INT;
            DECLARE @TongTruocGiam DECIMAL(18,2) = 0;
            DECLARE @TienDichVu DECIMAL(18,2) = 0;
            DECLARE @TienThuoc DECIMAL(18,2) = 0;
            DECLARE @TongSauGiam DECIMAL(18,2);
            DECLARE @ThuePhai DECIMAL(18,2);
            DECLARE @TongCuoi DECIMAL(18,2);

            SELECT @IdKhachHang = id_khach_hang FROM dbo.LichHen WHERE id_lich_hen = @IdLichHen;
            IF @IdKhachHang IS NULL
            BEGIN
                RAISERROR(N'KhÃ´ng tÃ¬m tháº¥y lá»‹ch háº¹n!', 16, 1);
                RETURN;
            END

            -- TÃ­nh tiá»n Dá»‹ch vá»¥ (Náº¿u cÃ³ báº£ng riÃªng, náº¿u khÃ´ng láº¥y tá»« báº£ng LichHen join DichVu)
            SELECT @TienDichVu = ISNULL(dv.gia, 0) 
            FROM dbo.LichHen lh 
            JOIN dbo.DichVu dv ON lh.id_dich_vu = dv.id_dich_vu 
            WHERE lh.id_lich_hen = @IdLichHen;

            -- TÃ­nh tiá»n Thuá»‘c (tá»« ÄÆ¡n thuá»‘c)
            SELECT @TienThuoc = ISNULL(SUM(dtc.so_luong * t.gia_ban), 0)
            FROM dbo.HoSoBenhAn hs
            JOIN dbo.DonThuoc dt ON hs.id_ho_so_benh_an = dt.id_ho_so_benh_an
            JOIN dbo.DonThuocChiTiet dtc ON dt.id_don_thuoc = dtc.id_don_thuoc
            JOIN dbo.Thuoc t ON dtc.id_thuoc = t.id_thuoc
            WHERE hs.id_lich_hen = @IdLichHen;

            SET @TongTruocGiam = @TienDichVu + @TienThuoc;
            SET @TongSauGiam = @TongTruocGiam - ISNULL(@TongTienGiamGia, 0);
            SET @ThuePhai    = @TongSauGiam * ISNULL(@ThueSuat, 0) / 100;
            SET @TongCuoi    = @TongSauGiam + @ThuePhai;

            -- LÆ°u HÃ³a Ä‘Æ¡n chÃ­nh (Schema má»›i)
            INSERT INTO dbo.HoaDon (
                id_lich_hen, id_khach_hang, id_nhan_vien, ngay_lap_hoa_don, 
                tong_tien_ban_dau, tong_giam_gia, tong_tien_cuoi, trang_thai, ghi_chu
            )
            VALUES (
                @IdLichHen, @IdKhachHang, @IdNhanVienLap, GETDATE(), 
                @TongTruocGiam, @TongTienGiamGia, @TongCuoi, 'cho_thanh_toan', @GhiChu
            );
            
            SELECT SCOPE_IDENTITY() AS id_hoa_don_moi;
        END
        
GO
/****** Object:  StoredProcedure [dbo].[sp_LichHenCuaKhachHang]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. Láº¥y lá»‹ch háº¹n cá»§a khÃ¡ch hÃ ng (dÃ¹ng cho khÃ¡ch hÃ ng xem)
CREATE   PROCEDURE [dbo].[sp_LichHenCuaKhachHang]
    @IdKhachHang INT
AS
BEGIN
    SELECT 
        lh.id_lich_hen,
        lh.ngay_kham,
        lh.gio_kham,
        lh.trang_thai,
        tc.ten_thu_cung,
        nv.ho_ten AS ten_bac_si,
        lh.ly_do
    FROM dbo.LichHen lh
    JOIN dbo.ThuCung tc ON lh.id_thu_cung = tc.id_thu_cung
    JOIN dbo.NhanVien nv ON lh.id_bac_si = nv.id_nhan_vien
    WHERE lh.id_khach_hang = @IdKhachHang
    ORDER BY lh.ngay_kham DESC, lh.gio_kham DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoThongBaoTiemChung]    Script Date: 04/06/2026 00:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- KỊCH BẢN 4: THỦ TỤC NHẮC LỊCH TIÊM CHỦNG
CREATE PROCEDURE [dbo].[sp_TaoThongBaoTiemChung]
AS
BEGIN
    SET NOCOUNT ON;
    -- Tạo thông báo trước 3 ngày
    INSERT INTO dbo.ThongBao (id_tai_khoan, tieu_de, noi_dung, loai_thong_bao, da_doc, ngay_tao)
    SELECT 
        tk.id_tai_khoan,
        N'Nhắc nhở tiêm chủng',
        N'Thú cưng ' + tc.ten_thu_cung + N' sắp đến lịch tiêm nhắc lại vaccine ' + t.ten_vaccine + N' vào ngày ' + CONVERT(VARCHAR, t.ngay_tiem_lai, 103),
        N'he_thong',
        0,
        GETDATE()
    FROM dbo.TiemChung t
    JOIN dbo.ThuCung tc ON t.id_thu_cung = tc.id_thu_cung
    JOIN dbo.TaiKhoan tk ON tc.id_khach_hang = tk.id_khach_hang
    WHERE t.ngay_tiem_lai = DATEADD(DAY, 3, CAST(GETDATE() AS DATE));
END;
GO
USE [master]
GO
